.filters_div {
	width: 350px;
	height: calc(100% - 90px);
	display: flex;
	flex-direction: column;
	position: absolute;
	align-items: center;
	justify-content: flex-start;
	left: 20px;
	top: 80px;
	backdrop-filter: blur(5px);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	border-radius: 20px;
}

.game_div {
	/* z-index: 10; */
	width: calc(100% - 800px);
	height: calc(100% - 90px);
	display: flex;
	flex-direction: column;
	position: absolute;
	align-items: center;
	justify-content: space-between;
	left: calc(50% - (100% - 800px) / 2);
	top: 80px;
	backdrop-filter: blur(5px);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	border-radius: 20px;
}

.social_div {
	width: 350px;
	height: calc(100% - 90px);
	display: flex;
	flex-direction: column;
	position: absolute;
	align-items: center;
	justify-content: flex-start;
	right: 20px;
	top: 80px;
	backdrop-filter: blur(5px);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	border-radius: 20px;
}

.ark {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	overflow-y: auto;
}

.ark > div {
	width: 300px;
	height: 400px;
	background-color: transparent;
	border-radius: 20px;
	margin: 20px;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content: space-between;
	color: black;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	background-size: 140%;
	background-position: center;
}
.ark > div:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-transition: 0.15s ease-in-out;
	transition: 0.15s ease-in-out;
}

.ark > div > p {
	color: wheat;
	background-color: black;
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	border-radius: 0% 0% 20px 20px;
}

.character {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.character_image {
	width: 100%;
	height: 100%;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}