* {
  font-size: 20px;
  font-family: 'MaPolicePerso';
}

body {
  background-image: url(./assets/destiny.jpg);
  font-family: 'MaPolicePerso';
}

@font-face {
  font-family: 'MaPolicePerso';
  src: url('./fonts/japan-wave.ttf') format('opentype');
}