#navbar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: #C76161;
    width: 100%;
    height: 100px;
}

img {
    width: 80px;
    height: 80px;
    margin: 0;
    padding: 0 10px 0 10px;
}

p {
    width: 200px;
    height: 80px;
}

#pages {
    color: white;
    height: 80px;
    width: auto;
    
}

a {
    color: white;
    height: 80px;
    width: 100px;
    text-decoration: none;
}

#account {
    width: auto;
    justify-self: end;
    padding: 0 10px 0 10px;
}